﻿.inputrow {
    margin-bottom: 10px;
}

    .inputrow label {
        width: 100px;
        margin: 0px 10px;
    }

    .inputrow select, .inputrow input[type="text"] {
        box-sizing: border-box;
        width: 25%;
        max-width: none;
    }

    .inputrow input[type="radio"] {
        margin-left: 40px;
    }
#addPageformDiv {
    margin-left:50px;
}