﻿.validator {
    padding-left: 10px;
    color: #B50128;
    font-size: 12px;
    font-family: Verdana, Tahoma, Arial;
    font-weight: bold;
}
#addpageform, #editPageForm {
    margin: auto;
    margin-left: 0%;
    margin-top: 4%;
    width: 35%;
    height: 300px;
    border: 2px solid Black;
    padding: 10px;
    border-radius: 5px;
}
    #addpageform input, #editPageForm input {
        padding: 5px;
        margin-bottom: 2px;
        float: right;
        width: 300px;
    }
    #addpageform label, #editPageForm label {
        margin-left: 10%;
        font-weight: bold;
    }

.jumbotron {
    height: 200px;
    background-color: #c6cad1;
    padding:20px;
}

#MainContent_deleteButton {
    font-size: 17px;
    padding: 5px;
    border: 2px Solid cornflowerblue;
    border-radius: 5px;
    width: 94px;
    color: cornflowerblue;
    background-color: white;
}
#editPageLink, #AddPageButton {
    width: 130px;
    font-size: 16px;
    padding: 9px;
    border: 2px Solid cornflowerblue;
    border-radius: 5px;
    text-decoration: none;
}
#AddPageButton {
    float: right;
    margin-top: -30px;
    width: 94px;
}
#viewPageContent {
    border: 2px solid #202021;
    width:60%;
    height:300px;
    border-radius:5px;
    padding:1%;
}