﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NavMenu.ascx.cs" Inherits="Final_Project.usercontrols.NavMenu" %>
<asp:SqlDataSource 
    runat="server" 
    ID="Nav_Bar"
    ConnectionString="<%$ ConnectionStrings:school_sql_con %>">
</asp:SqlDataSource>

<ul class="nav navbar-nav"
    runat="server"
    id="ul_addLi">
</ul>